*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

header{
    background-image: linear-gradient(to right, rgb(246, 243, 227), white);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    position: relative;
    width: 100%;
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 8px 80px;
}

.logo{
    gap: 6px;
    width: max-content;
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
}
.logo img{
    margin: auto;
    width: 59px;
    height: 70px;
}

.logo h3{
    font-size: 13.8px;
    width: max-content;
}

.negrito-logo{
  font-weight: 700;
  font-family: 'Roboto';
}
.light-logo{
    font-family: 'Inter';
    font-weight: 200;
}
.links{
    display: flex;
    gap: 80px;
    list-style:none;
}

.links a{
    position: relative;
    font-size: 17px;
    font-family: 'Inter';
    font-weight: 300;
    color: black;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajuste a espessura da barra aqui */
    width: 0;
    height: 2px; /* Ajuste a altura da barra aqui */
    background-color: orange; /* Cor da barra */
    transition: width 0.5s; /* Duração da animação */
}

.links a:hover::after {
    width: 100%;
}



.btn-orcamento{
    padding: 11px 30px;
    border-radius: 3px;
    background-color: #EA9C30;
    color: white;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 700;
}

.menu-toggle {
    display: none;  
    cursor: pointer;
    border-style: none;
    background-color: transparent;
}
.mobile-links{
    display: none;
}

.container-projetos{
    width: 100%;
    display: flex;
}

.text-btn{ 
    display: table-column;
    position: absolute;
    padding-left: 120px;
    padding-top: 150px;
    z-index: 4;
}

.text-btn h1{ 
    line-height: 1.05;
    color: white;
    font-size: 65px;
    transition: transform .5s ease;
}
.text-btn h2{
    line-height: 1.05;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 5px;
}
.text-btn p{
    color: white;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 30px;
}
.btn-projetos{
    font-family: 'Inter';
    background-color:orange;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 60px;
    border-radius: 3px;
    color: white;
    transition: background-color .5s ease;
}


.container-img{
    height: calc(100vh - 109px);
    width: 100%;
    display: flex;
    justify-content:right;
    background-color:  #23284B;
    z-index: 3;
    transition: background-color .5s ease, background-image .5s ease;
}

.container-img img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
    transition: transform .5s ease;

}

.background{
    width: 100%;
    height: calc(100vh - 109px);
    position: absolute;
    background-image: url(assets/imagens/background-gradient.jpg);
    opacity: 7%;
    z-index: 2;
}

.solucoes{
    background-image:linear-gradient(to right, #23284B 60%,  #042f6f);
    height: 600px;
    display: flex;
    align-items: center;
}



.menu_solu{
    background-color: transparent;
    width: max-content;
    margin-top: 30px;
    display: flex;
    margin: auto;
}

.conjunto{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.885);
    border-radius: 12px;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 3px black;
}


.menu_solu h1{
    color:orange;
    font-family: 'Inter';
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
    border-top: .3px solid rgba(0, 0, 0, 0.089);
    
}

.conjunto h2{
    color: #23284B;
    font-family: 'Inter';
    font-weight: 300;
    padding-top: 10px;
    font-size: 17px;
    margin: auto;
    text-align: center;
    max-width: 340px;
}

.container-icones{
    width: 100%;
    height: max-content;
    text-align: center;
}

.imagens_conjuntos{
    width: 200px;
    padding: 10px;
    
}

.conjunto{
    opacity: 0;
    transform: translateY(-20px); /* Move os elementos para baixo */
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.animar{
   animation-delay: 0.3S;
}

.sobre{
    display: flex;
    height: 620px;
}

.container-sobre-text{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 30px;
}

.sobre h1{
    font-size: 60px;
    color: orange;
    text-align: right;
    margin-bottom: 30px;
}

.sobre p{
    font-family: 'Inter';
    margin-bottom: 35px;
    font-size: 17px;
}
.negrito-p{
    font-weight: 800;
}
.sobre .right{
    text-align: right;
}
.sobre .left{
    text-align: left;
}
.container-sobre-image img{
    display: flex;
    border-left: 1px solid rgba(128, 128, 128, 0.525);
    box-shadow: -2px 0 10px rgba(128, 128, 128, 0.764);
}


@media screen and (max-width:1345px){
    .text-btn{
        padding-left: 80px;
    }
}

@media screen and (max-width: 1312px){
    .text-btn{
        padding-left: 30px;
    }
}

@media screen and (max-width: 1245px){
    .container-nav{
        margin: 8px 40px;
    }
    .links{
        gap:60px;
    }
    .container-img img{
        content: url("assets/imagens/bg-full-2.png");
    }
}

@media screen and (max-width:1080px){
    .container-img img{
        opacity: 0;
    }
}

@media screen and (max-width: 1044px){
    .container-nav{
        margin: 8px 30px;
    }
    .links{
        gap:40px;
    }
    .links a{
        font-size: 15px;
    }

    .btn-orcamento{
        font-size: 14px;
    }
}

@media screen and (max-width: 968px){

    .container-nav{
        width: 100%;
        justify-content: space-between;
        margin: 8px auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-toggle {
        display: block;
    }
    .btn-orcamento{
        display: none;
    }
    .nav-item{
        display: none;
    }   

    .mobile-links .nav-item{
        display: block;
    }
    
    .mobile-links .links{
        gap: 0;
        flex-direction: column;
        position: absolute;
        background-color: transparent;
        width: 100%;
        top: 118px;
        left: 0;
        z-index: 5;
        
    }

    .mobile-links .links a{
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 16px;
        color: black;
        font-weight: 400;
        background-color: white;
        width: 100%;
        text-transform: none;
    }
    
    .mobile-links .links a:hover{
        background-color: blue;
        color: white;
    }
    
    .mobile-links .links a::after{
        display: none;
    }

    .open{
        display: block;
    }

    .text-btn{
        padding-top: 200px;
    }

   
}

@media screen and (max-width: 680px){
    .text-btn h1, .text-btn h2{
        font-size: 55px;
    }
    .text-btn p{
        font-size: 16px;
    }
    .btn-projetos{
        font-size: 20px;
        padding: 10px 50px;
    }
}

@media screen and (max-width: 680px){
    .text-btn{
        padding-top: 180px;
    }
    .text-btn h1, .text-btn h2{
        font-size: 45px;
    }
    .text-btn p{
        font-size: 15px;
    }
    .btn-projetos{
        font-size: 18px;
        padding: 10px 50px;
    }
}

@media screen and (max-width: 590px){
    .text-btn{
        padding-left: 10px;
    }
}